@{
    ViewBag.Title = "订单管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app">
    <div class="table-where">
        <el-row :gutter="20">
            <el-col :span="2" class="layout-right layout-where">
                订单编号：
            </el-col>
            <el-col :span="6">
                <el-input v-model="where.OrderId" placeholder="请输入订单编号"></el-input>
            </el-col>
            <el-col :span="2" class="layout-right layout-where">
                下单用户：
            </el-col>
            <el-col :span="6">
                <el-input v-model="where.UserName" placeholder="请输入下单用户姓名或Id"></el-input>
            </el-col>
            <el-col :span="2" class="layout-right layout-where">
                用户电话：
            </el-col>
            <el-col :span="6">
                <el-input v-model="where.UserPhone" placeholder="请输入用户电话"></el-input>
            </el-col>
        </el-row> 
        <el-row :gutter="20">
            <el-col :span="2" class="layout-right layout-where">
                订单状态：
            </el-col>
            <el-col :span="6">
                <el-select v-model="where.Status" placeholder="请选择订单状态" :clearable='true' @@change="getpage(1)">
                    <el-option key="0" label="取消订单" value="0">
                    </el-option>
                    <el-option key="1" label="已下单未支付" value="1">
                    </el-option>
                    <el-option key="2" label="支付成功" value="2">
                    </el-option>
                    <el-option key="3" label="配货中" value="3">
                    </el-option>
                    <el-option key="4" label="已发货" value="4">
                    </el-option>
                </el-select>
            </el-col>
	        <el-col :span="2" class="layout-right layout-where">
		        收件人信息：
	        </el-col>
	        <el-col :span="6">
				<el-input v-model="where.OrderAddress" placeholder="可模糊查询收件人手机号码,地址,姓名信息中的某一样"></el-input>
	        </el-col> 
            <el-col :span="2" class="layout-right layout-where">
                数据状态：
            </el-col>
            <el-col :span="6">
                <el-select v-model="where.RowStatus" placeholder="请选择数据状态" :clearable='true' @@change="getpage(1)">
                    <el-option key="1" label="有效" value="1">
                    </el-option>
                    <el-option key="0" label="无效" value="0">
                    </el-option>
                </el-select>
            </el-col>
        </el-row> 
        <el-row :gutter="20">
            <el-col :span="2" class="layout-right layout-where">
                下单时间：
            </el-col>
	        <el-col :span="6">
		        <el-date-picker v-model="where.Time" type="datetimerange" placeholder="选择时间范围" @@change="getpage(1)">
		        </el-date-picker>
	        </el-col>
	        <el-col :span="2" class="layout-right layout-where">
		        是否开票：
	        </el-col>
	        <el-col :span="6">
		        <el-select v-model="where.IsInvoice" placeholder="请选择是否开票" :clearable='true' @@change="getpage(1)">
			        <el-option key="0" label="否" value="0">
			        </el-option>
			        <el-option key="1" label="是" value="1">
			        </el-option>
		        </el-select>
	        </el-col> 
	        <el-col :span="2" class="layout-right layout-where">
		        总金额：
	        </el-col>
	        <el-col :span="2">
		        <el-input v-model="where.TotalStart" placeholder="最小金额"></el-input>
	        </el-col>
	        <el-col :span="4">
		        <el-input v-model="where.TotalEnd" placeholder="最大金额" style="width:50%"></el-input> 
	        </el-col>
        </el-row>
        <div class="table-btn">
            <el-button type="primary" icon="edit" @@click="batchDising()">批量配送</el-button>
            <el-button type="primary" icon="upload" @@click="changeExcelVisible(1)">批量发货</el-button>
            <el-button type="primary" icon="upload" @@click="changeExcelVisible(0)">导入</el-button>
            <el-button type="primary" icon="upload2" @@click="exportExcel">导出</el-button>
            <el-button type="primary" icon="search" @@click="getpage(currentPage)">搜索</el-button>
        </div>
    </div>
    <div class="table-content">
	    <el-table v-loading.body="loading"
	              :data="list"
	              ref="multipleTable"
	              @@selection-change="handleSelectionChange"
	              style="width: 100%">
		    <el-table-column
			    type="selection"
			    width="55">
		    </el-table-column>
		    <el-table-column label="订单编号" prop="OrderNumber" width="200px">
		    </el-table-column>
		    <el-table-column label="Id/订购用户(性别)/联系电话" width="260px">
			    <template scope="scope">
				    <el-tooltip :content="scope.row.UserName" placement="top" effect="light">
					    <el-button type="text">{{scope.row.ShortUserName}}</el-button>
				    </el-tooltip>
			    </template>
		    </el-table-column>
		    <el-table-column label="收件人姓名(性别)/联系电话/地址" width="300px">
			    <template scope="scope">
				    <el-tooltip :content="scope.row.OrderAddress" placement="top" effect="light">
					    <el-button type="text">{{scope.row.ShortOrderAddress}}</el-button>
				    </el-tooltip>
			    </template>
		    </el-table-column>
		    <el-table-column label="订购时间" prop="OrderDate" width="180px">
		    </el-table-column>
		    <el-table-column label="订单状态" prop="OrderState" width="120px">
		    </el-table-column>
		    <el-table-column label="总金额" prop="TotalMoney" width="110px">
		    </el-table-column>
		    <el-table-column label="订单源" prop="OrderSource" width="120px">
		    </el-table-column>
		    <el-table-column label="是否开票" prop="IsInvoice" width="110px">
		    </el-table-column>
		    <el-table-column label="备注" width="270px">
			    <template scope="scope">
				    <el-tooltip :content="scope.row.OrderRemarks" placement="top" effect="light">
					    <el-button type="text">{{scope.row.ShortOrderRemarks}}</el-button>
				    </el-tooltip>
			    </template>
		    </el-table-column>
		    <el-table-column label="操作" width="70px" fixed="right">
			    <template scope="scope">
				    <el-button size="small" class="table-detail-btn"
				               @@click="detailRow(scope.row.OrderId)">详细</el-button>
			    </template>
		    </el-table-column>
	    </el-table>
        <div class="table-page">
            <el-pagination
                :current-page="currentPage"
                :page-size="15"
                layout="total, prev, pager, next, jumper"
                @@size-change="getpage"
                @@current-change="getpage"
                :total="total">
            </el-pagination>
        </div>
    </div>
    <div data-msg="详细页面的弹窗">
        <el-dialog :visible.sync="dialogVisible" size="small"
            :title="'订单( '+ oldInfo.OrderNumber +' )详细'" >
            <div data-msg="弹窗内容" v-loading.body="dialogLoading">
                <el-row>
                    <el-col :span="4" class="layout-right">总金额：</el-col>
                    <el-col :span="3">{{oldInfo.TotalMoney}}</el-col>
                    <el-col :span="3" class="layout-right">订单源：</el-col>
                    <el-col :span="3">{{oldInfo.OrderSource}}</el-col>
                    <el-col :span="3" class="layout-right">预支付编号：</el-col>
                    <el-col :span="3">{{oldInfo.PrepaymentId}}</el-col>
                </el-row>
                <el-row>
                    <el-col :span="4" class="layout-right">份数：</el-col>
                    <el-col :span="3">{{oldInfo.OrderCopies}}</el-col>
                    <el-col :span="3" class="layout-right">总重量：</el-col>
                    <el-col :span="3">{{oldInfo.TotalWeight}}</el-col>
                    <el-col :span="3" class="layout-right">计费重量：</el-col>
                    <el-col :span="3">{{oldInfo.BillWeight}}</el-col>
                </el-row>
                <el-row>
                    <el-col :span="4" class="layout-right">下单用户：</el-col>
                    <el-col :span="3">{{oldInfo.UserName}}</el-col>
                    <el-col :span="3" class="layout-right">联系方式：</el-col>
                    <el-col :span="3">{{oldInfo.UserPhone}}</el-col>
                </el-row>
                <el-row>
                    <el-col :span="4" class="layout-right">寄件信息：</el-col>
                    <el-col :span="4">
                        <el-input v-model="newInfo.SendConsignee" size="mini" placeholder="输入寄件人姓名">
                        </el-input>
                    </el-col>
                    <el-col :span="1" style="text-align:center;">
                        -
                    </el-col>
                    <el-col :span="4">
                        <el-input v-model="newInfo.SendTelPhone" size="mini" placeholder="输入寄件人联系方式">
                        </el-input>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="4" class="layout-right">地址信息：</el-col>
                    <el-col :span="4">
                        <el-input v-model="newInfo.OrderConsignee" size="mini" placeholder="输入收件人姓名">
                        </el-input>
                    </el-col>
                    <el-col :span="1" style="text-align:center;">
                        -
                    </el-col>
                    <el-col :span="4">
                        <el-input v-model="newInfo.OrderTelPhone" size="mini" placeholder="输入收件人联系方式">
                        </el-input>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="4">
                        &nbsp;
                    </el-col>
                    <el-col :span="14">
                        <el-input v-model="newInfo.OrderDetails" size="mini" placeholder="输入详细收件地址">
                        </el-input>
                    </el-col>
                </el-row>
	            <el-row>
		            <el-col :span="4" class="layout-right">下单时间：</el-col>
		            <el-col :span="4">{{oldInfo.OrderDate}}</el-col>
		            <el-col :span="2" class="layout-right">订单状态：</el-col>
		            <el-col :span="3">
			            <el-select v-model="newInfo.OrderState" size="mini">
				            <el-option key="0" label="取消订单" value="0" :disabled="true">
				            </el-option>
				            <el-option key="1" label="已下单未支付" value="1" :disabled="true">
				            </el-option>
				            <el-option key="2" label="支付成功" value="2" :disabled="true">
				            </el-option>
				            <el-option key="3" label="配货中" value="3">
				            </el-option>
				            <el-option key="4" label="已发货" value="4">
				            </el-option>
			            </el-select>
		            </el-col>
		            <el-col :span="3" class="layout-right">货运单号：</el-col>
		            <el-col :span="6">
			            <el-input v-model="newInfo.OrderDelivery" 
			                      placeholder="输入货运单号" size="mini" v-if="newInfo.OrderState == 4">
			            </el-input>
			            <span v-else>
				            还未发货
			            </span>
		            </el-col>
	            </el-row>
	            <el-row>
		            <el-col :span="4" class="layout-right">是否开票：</el-col>
		            <el-col :span="4">
			            <el-select v-model="newInfo.IsInvoice" size="mini" class="mini-width">
				            <el-option key="0" label="否" value="0">
				            </el-option>
				            <el-option key="1" label="是" value="1">
				            </el-option>
			            </el-select>
		            </el-col>
		            <el-col :span="2" class="layout-right">订单描述：</el-col>
		            <el-col :span="12">
			            <el-input type="textarea" autosize size="mini" style="margin-top: -6px"
			                      placeholder="填写订单描述"
			                      v-model="newInfo.OrderRemarks">
			            </el-input>
		            </el-col>
	            </el-row>
                <el-row>
                    <el-col :span="4" class="layout-right">数据状态：</el-col>
                    <el-col :span="8">
                        <el-select v-model="newInfo.RowStatus" size="mini" class="mini-width">
                            <el-option key="1" label="有效" value="1">
                            </el-option>
                            <el-option key="0" label="无效" value="0">
                            </el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="4" class="layout-right" v-show="newInfo.RowStatus == 0">无效时间：</el-col>
                    <el-col :span="8" v-show="newInfo.RowStatus == 0">
                        {{newInfo.DeleteDate}}
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="4" class="layout-right layout-where"  v-show="newInfo.RowStatus == 0">无效描述：</el-col>
                    <el-col :span="18" v-show="newInfo.RowStatus == 0">
                        <el-input type="textarea" autosize 
                            placeholder="可能的话,请输入无效数据的原因"
                            v-model="newInfo.DeleteDescribe">
                        </el-input>
                    </el-col>
                </el-row>
                <div class="table-content">
                    <el-table :data="oldInfo.CsOrderDetails" style="width: 100%">
                        <el-table-column label="商品名称(编号)" prop="ProductName" width="340">
                        </el-table-column>
                        <el-table-column label="商品类型" prop="ChoseType">
                        </el-table-column>
                        <el-table-column label="购买数量" prop="ProductNumber">
                        </el-table-column>
                        <el-table-column label="商品总价" prop="TotalPrice">
                        </el-table-column>
                        <el-table-column label="销售单价/斤(件)" prop="UnitPrice">
                        </el-table-column>
                    </el-table>
                </div>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @@click="closeInfo">{{infoIsChange ? '取 消' : '关 闭'}}</el-button>
                <el-button @@click="updateInfo(oldInfo.OrderId)" type="warning" v-if="infoIsChange">更 新</el-button>
            </span>
        </el-dialog>
        <el-dialog title="上传Excel文件"
                   :visible.sync="excelVisible" size="tiny" name="xls">
            <el-upload action="../UploadFile/UploadFile"
                       :on-success="uploadSuccess"
                       :on-remove="uploadRemove"
                       :before-upload="uploadBefore"
                       :file-list="fileList" list-type="picture">
                <el-button size="small" type="primary">点击上传</el-button>
                <div slot="tip" class="el-upload__tip">只能上传xls/xlsx文件，且需要保证严格按照给出的模板填写表格，导入的数据不能撤回</div>
            </el-upload>
            <span slot="footer" class="dialog-footer">
                <el-button @@click="excelVisible = false">取 消</el-button>
                <el-button type="primary" @@click="importExcel" :loading="btnLoading">导 入</el-button>
            </span>
        </el-dialog>
        <el-dialog title="错误详细信息"
                :visible.sync="msg.msgVisible" size="tiny">
            <h4>{{msg.msgTitle}}</h4>
            <div style="overflow: auto; height: auto;max-height: 600px">
                <div style="padding: 2px" v-for="m in msg.msgOrderIds">
                    <el-alert :title="m" show-icon :closable="false"></el-alert>
                </div>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @@click="msg.msgVisible = false">取 消</el-button>
            </span>
        </el-dialog>
    </div>
</div>

@section script{
    <script src="../../Scripts/app/csOrder.js"></script>
}

