@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>登陆</title>
  @Styles.Render("~/Content/element.css")
  <style>
    .login-container {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        background-clip: padding-box;
        margin: 180px auto;
        width: 350px;
        padding: 35px 35px 15px 35px;
        background: #fff;
        border: 1px solid #eaeaea;
        box-shadow: 0 0 25px #cac6c6;
    }
  </style>
</head>
<body>
  <div id="app">
    <el-form :model="ruleForm2" ref="ruleForm2" label-position="left" label-width="0px" class="login-container">
        <h3>管理员登录</h3>
        <el-form-item prop="account">
        <el-input type="text" v-model="ruleForm2.account" auto-complete="off" placeholder="账号"></el-input>
        </el-form-item>
        <el-form-item prop="checkPass">
        <el-input type="password" v-model="ruleForm2.checkPass" auto-complete="off" placeholder="密码"></el-input>
        </el-form-item>
        <el-checkbox v-model="checked" checked class="remember">记住密码</el-checkbox>
        <el-form-item style="width:100%;">
        <el-button type="primary" style="width:100%;" :loading="logining">登录</el-button>
        </el-form-item>
    </el-form>
  </div>
</body>
    @Scripts.Render("~/Scripts/vue/vue.js")
    @Scripts.Render("~/Scripts/element/index.js")
    @Scripts.Render("~/Scripts/app/login.js")
</html>
