
@{
    ViewBag.Title = "价格管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app">
    <div class="table-where" style="padding:10px;padding-left:70px;height: 36px">
        <el-row>
            <el-col :span="21">
                <el-button type="primary" icon="edit" @@click="submitPrice()">保存修改</el-button>
                <el-button type="primary" icon="upload" @@click="templateVisible = true">发布价格</el-button>
                <el-button type="primary" icon="date" @@click="selectLast">价格历史</el-button>
            </el-col>

            <el-col :span="3">
                <el-button type="primary" icon="search" @@click="getList()">刷新列表</el-button>
            </el-col>
        </el-row>
    </div>
    <div class="table-content">
        <el-table v-loading.body="loading"
            :data="list" :default-sort = "{prop: 'Id', order: 'ascending'}"
            style="width: 100%">
            <el-table-column label="Id" prop="ProductId" width="120">
            </el-table-column>
            <el-table-column label="商品名称(编码)" prop="ProductName" sortable>
            </el-table-column>
            <el-table-column label="螃蟹类型" prop="ProductType" sortable>
            </el-table-column>
            <el-table-column label="螃蟹重量" prop="ProductWeight" sortable>
            </el-table-column>
            <el-table-column label="螃蟹价格">
                <template scope="scope">
                    <el-input type="number" style="width:50%"
                              v-model="scope.row.ProductPrice" placeholder="请输入价格">
                    </el-input>&nbsp;&nbsp;￥
                </template>
            </el-table-column>
            <el-table-column label="库存">
                <template scope="scope">
                    <el-input type="number" style="width:70%"
                              v-model="scope.row.ProductStock" placeholder="请输入库存">
                    </el-input>&nbsp;&nbsp;个
                </template>
            </el-table-column>
            <el-table-column label="商品状态" prop="ProductState" width="130px" sortable>
            </el-table-column>
            <el-table-column label="操作" width="120px">
                <template scope="scope">
                    <el-button size="small" class="table-detail-btn"
                        @@click="changeStatus(scope.row.ProductId)">
                        {{scope.row.ProductState == '在售' ? '下架' : '上架'}}    
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
    <el-dialog title="价格历史" :visible.sync="dialogVisible" size="large">
        <div class="table-where" style="margin-top:0">
            <el-row :span="2" class="layout-right layout-where">
                <el-col :span="2" class="layout-right layout-where">
                    商品名称：
                </el-col>
                <el-col :span="3">
                    <el-input v-model="where.ProductName" placeholder="请输入商品名称"></el-input>
                </el-col>
                <el-col :span="2" class="layout-right layout-where">
                    蟹类型：
                </el-col>
                <el-col :span="3">
                    <el-select v-model="where.ProductType" placeholder="请选择蟹类型" :clearable='true' @@change="getpage(1)">
                    <el-option key="1" label="大宗采购" value="1">
                    </el-option>
                    <el-option key="2" label="包塘直补" value="2">
                </el-select>
                </el-col>
                <el-col :span="2" class="layout-right layout-where">
                    价格区间：
                </el-col>
                <el-col :span="2" class="number">
                    <el-input v-model="where.PriceStart" placeholder="最小金额"></el-input>
                </el-col>
                <el-col :span="2" class="number" style="text-align: left">
                    <el-input v-model="where.PriceEnd" style="margin-left:10px"
                        placeholder="最大金额"></el-input> 
                </el-col>
                <el-col :span="2" class="layout-right layout-where">
                    日期：
                </el-col>
                <el-col :span="6" style="text-align: left;">
                    <el-date-picker v-model="where.Time" type="datetimerange" placeholder="选择时间范围" @@change="getpage(1)">
                    </el-date-picker>
                </el-col>
            </el-row>
            <div class="table-btn">
                <el-button type="primary" icon="search" @@click="getpage(currentPage)">搜索</el-button>
            </div>
        </div>
        <div class="table-content">
            <el-table v-loading.body="priceLoading" :data="priceList">
                <el-table-column label="Id" prop="PriceId" width="80">
                </el-table-column>
                <el-table-column label="商品名称(编码)" prop="ProductName">
                </el-table-column>
                <el-table-column label="蟹类型" prop="ProductType">
                </el-table-column>
                <el-table-column label="历史价格" prop="PriceNumber">
                </el-table-column>
                <el-table-column label="当前价格" prop="CurrentPrice">
                </el-table-column>
                <el-table-column label="日期" prop="PriceDate">
                </el-table-column>
            </el-table>
            <div class="table-page">
                <el-pagination
                    :current-page="currentPage"
                    :page-size="15"
                    layout="total, prev, pager, next, jumper"
                    @@size-change="getpage"
                    @@current-change="getpage"
                    :total="total">
                </el-pagination>
            </div>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button type="primary" @@click="dialogVisible = false">确 定</el-button>
        </span>
    </el-dialog>
    <el-dialog title="进度" :visible.sync="planDialog" size="tiny">
        <div>
            <el-progress :text-inside="true" :stroke-width="18" :percentage="percentage" status="success"></el-progress>
        </div>
        <h4>详细</h4>
        <div style="overflow: auto; height: auto;max-height: 600px">
            <div style="padding: 5px" v-for="p in planList">
                <el-alert :title="p.data" :type="p.code === 1 ? 'success' : 'error'" 
                    show-icon :closable="false"></el-alert>
            </div>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="planDialog = false">关 闭</el-button>
        </span>
    </el-dialog>
    <el-dialog title="模板编辑" :visible.sync="templateVisible" size="tiny">
        <el-form :model="templateInfo"  ref="templateInfo" label-width="100px" >
            <el-form-item label="副标题：" required>
                <el-input v-model="templateInfo.first.value"></el-input>
            </el-form-item>
            <el-form-item label="产品类型：" required>
                <el-input v-model="templateInfo.keyword1.value"></el-input>
            </el-form-item>
            <el-form-item label="产品名称：" required>
                <el-input v-model="templateInfo.keyword2.value"></el-input>
            </el-form-item>
            <el-form-item label="时间：" required>
                <el-form-item>
                    <el-date-picker type="date" placeholder="选择日期" v-model="templateInfo.keyword3.value" style="width: 100%;"></el-date-picker>
                </el-form-item>
            </el-form-item>
            <el-form-item label="状态：" required>
                <el-input v-model="templateInfo.keyword4.value"></el-input>
            </el-form-item>
            <el-form-item label="描述：" required>
                <el-input type="textarea" v-model="templateInfo.remark.value"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="templateVisible = false">取 消</el-button>
            <el-button type="primary" @@click="sendMsg()">发 送</el-button>
        </span>
    </el-dialog>
</div>

@section script{
    <script>
        host = '@ViewBag.Host';
        tempId = '@ViewBag.TempId';
        wechat = '@ViewBag.wechat'
    </script>
    <script src="../../Scripts/app/csPrice.js"></script>
}
