.index-head {
    height: 60px;
    background-color: #324157;
}

.layout-right {
    text-align: right;
}

.layout-where {
    padding-top: 6px;
}

.table-where {
    background-color: #f9fafc;
    padding-top: 40px;
    padding-bottom: 15px;
    padding-right: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: .2s;
    margin-top: 20px;
}

.table-btn {
    text-align: right;
}

.table-content {
    margin-top: 25px;
    background-color: #f9fafc;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: .2s;
    padding: 10px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
}

.table-page {
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: right;
}

.el-row {
    margin-bottom: 20px;
}

.table-expand {
    width: 80%;
    margin-left: 10%;
}

.table-detail-btn {
    margin-left: -9px;
}

.mini-width{
    width: 135px
}

.logo-text {
    color: #f9fafc;
    font-family: PingFang SC;
    padding: 12px;
    font-size: 25px;
    padding-left: 21px;
}