@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetOpenId</title>
</head>
<body>
    <div>
    </div>
<script>
    widows.open('@Html.Raw(@ViewBag.CodeUrl)')
</script>
</body>
</html>
