@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetOpenId</title>
</head>
<body>
    <div>
    </div>
    <script>
        window.open('@Html.Raw(ViewBag.CodeUrl)', '_self')
    </script>
</body>
</html>
